<!DOCTYPE html>

<head>
    <title>Mall App</title>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>    
</head>

<body class="container-fluid">
    <header>
        <%- include('../partials/header') %>
    </header>
    <% if (messages.success) { %>
    <div class="alert alert-primary alert-dismissible" role="alert">
        <%= messages.success %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button></div>
    <% } %>
    <form class="md-form" method="POST" action="/insert">
        <div class="form-row">
          <div class="form-group col-sm-2">
            <label for="mallname">Mall Name</label>
            <input type="text" autocomplete="off" class="form-control" id="mallname" name="mallname">
          </div>
          <div class="form-group col-sm-2">
            <label for="stores">Store</label>
            <input type="text" class="form-control" id="stores" name="stores">
          </div>
        </div>
        <div class="form-row">
            <div class="form-group col-sm-2">
                <label for="floor">Floor</label>
                <input type="text" class="form-control" id="floor" name="floor">
              </div>
              <div class="form-group col-sm-2">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" name="category">
              </div>
        </div>
        <div class="form-row">
          <div class="form-group col-sm-2">
            <label for="distribution">Distribution</label>
            <input type="text" class="form-control" id="distribution" name="distribution">
          </div>
          <div class="form-group col-sm-2">
            <label for="inputState">Area</label>
            <input type="number" step="any" class="form-control" id="area" name="area">
          </div>
          <div class="form-group col-sm-2">
            <label for="inputZip">Circle</label>
            <input type="text" class="form-control" id="circle" name="circle">
          </div>  
        </div>
        <div class="form-row">
      <div class="form-group col-sm-6">
        <label for="inputZip">Address</label>
        <input type="text" class="form-control" id="address" name="address">
    </div>
  </div>
        <button type="submit" class="btn btn-primary">Insert Record</button>
      </form>

      
</body>

<script>

    var regexs = [/(^\s*)|(\s+$)/i]

    let mallsarr = ("<%- mallnames %>").split(',');
    let storesarr = ("<%- stores %>").split(',');
    //let floorarr = [ ...new Set(("<%- floor %>").split(','))];
    let floorarr = ["First","Second","Third","Fourth","Fifth","Sixth","Lower Ground","Upper Ground","Ground"];
    let catearr = ("<%- category %>").split(',');
    let distarr = ("<%- dist %>").split(',');
    let circlearr = ("<%- circle %>").split(',');

    // Autocomplete multiple
    function split( val ) {
      return val.split( /,\s*/ );
    }
    function extractLast( term ) {
      return split( term ).pop();
    }

  $(document).ready(function(){
      $("#mallname").autocomplete({
    source: mallsarr
  }); 

  $("#stores").autocomplete({
    source: storesarr
  }); 

  $("#floor").on( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).autocomplete( "instance" ).menu.active ) {
          event.preventDefault();
        }
      }).autocomplete({
        minLength: 0,
        source: function( request, response ) {
          // delegate back to autocomplete, but extract the last term
          response( $.ui.autocomplete.filter(
            floorarr, extractLast( request.term ) ) );
        },
        focus: function() {
          // prevent value inserted on focus
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          // remove the current input
          terms.pop();
          // add the selected item
          terms.push( ui.item.value );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join(", " );
          return false;
        }
  }); 

  $("#category").autocomplete({
    source: catearr
  }); 

  $("#distribution").autocomplete({
    source: distarr
  }); 

  $("#circle").autocomplete({
    source: circlearr
  }); 
});
</script>

</html>

